
     
p{font-size: x-large;}
body{ background-color: lightskyblue;

}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}




body {
background-color: #E3E4E6;
background-image: url(https://media1.giphy.com/media/l3vRbTrGdpZrjjco8/giphy.webp?cid=790b761162a0b1074039907cc65e62d2dcae4300d06387fe&rid=giphy.webp);
background-size: cover;
}

h1{
    background-color: #FFFFFF;
    text-align: center;
    
}
  h2 {
      background-color: aqua;
      color: darkblue;

  }
  p{
      background-color: lightcyan;
      font-family: arial;
  }
  .outset{
      border: 5px white;
      margin: 5px ;
      padding: 5px;

  }
[class^="column"]{
column-count: 3;
}

li{
    color: crimson;
    text-decoration: crimson;
}
li:hover{
    color: cyan;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }




